@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');


:root {
    --my-padding: 0.4rem;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: rgb(248, 250, 252);
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 2fr 2fr 1fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner";
}

.header {
background-color: black;
grid-area: header;
align-items: center;
display: grid;
}

.menu {
    background-color: red;
    grid-area: menu;
    align-items: center;
    display: grid;
}

.hero {
    background-color: rgb(125, 125, 167);
    grid-area: hero;
    align-items: center;
    display: grid;
}

.main {
    background-color: rgb(122, 41, 41);
    grid-area: main;
    align-items: center;
    display: grid;
}

.image {
    background-color: rgb(179, 179, 241);
    grid-area: image;
    align-items: center;
    display: grid;
}

.extra {
    background-color: rgb(49, 156, 49);
    grid-area: extra;
    align-items: center;
    display: grid;
}

.banner  {
    background-color: rgb(240, 142, 14);
    grid-area: banner;
    align-items: center;
    display: grid;
}

@media (max-width: 1024px) {

    .container {
    grid-template-columns: 0.7fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 0.8fr;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    "menu main main"
    "menu main main"
    "menu banner banner"
    "menu extra image"
     ;
     }
}

@media (max-width: 480px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr 1.6fr 2fr 1.1fr 1.3fr 1.5fr;
    grid-template-areas: 
    "header"
    "menu"
    "hero"
    "main"
    "banner"
    "extra"
    "image";
    }
}